# osX files
.DS_Store
.Trashes

## Xcode Patch
*.xcworkspace
*.xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### Xcode Patch ###
**/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
.swiftpm
/.build

## Build generated
build/
DerivedData/